body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header h1 {
  font-size: 35px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}

.hero {
  text-align: center;
  padding: 180px 20px;

  background-image: url("https://images.unsplash.com/photo-1515886657613-9f3515b0c78f");

  background-size: cover;
  background-position: center;

  color: white;
}

.hero h2 {
  font-size: 60px;
}

.hero p {
  font-size: 22px;
  margin-bottom: 30px;
}

button {
  background-color: white;
  color: black;
  border: none;
  padding: 15px 35px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
.products {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px;
  flex-wrap: wrap;
}

.card {
  background: #222;
  padding: 20px;
  border-radius: 15px;
  width: 250px;
  text-align: center;

  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin-top: 15px;
}
@media (max-width: 768px) {

  header {
    flex-direction: column;
    text-align: center;
  }

  nav {
    margin-top: 15px;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }

  .hero h2 {
    font-size: 40px;
  }

  .hero p {
    font-size: 18px;
  }

  .products {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

}